<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page_title | default: shop.name }}</title>
  <meta name="description" content="{{ shop.meta_description }}">
  {{ 'styles.css' | asset_url | stylesheet_tag }}
  {{ content_for_header }}
</head>
<body>
  {% section 'header' %}
  <main role="main">
    {{ content_for_layout }}
  </main>
  {% section 'footer' %}
  {{ 'theme.js' | asset_url | script_tag }}
  {{ content_for_footer }}
</body>
</html>
